<h1>Wellbeing Tracker</h1>
<h2>Presentation</h2>
<p><a>https://youtu.be/Q0iTOzHVANc</a></p>
<h2>Dashboard</h2>
<div class="grid">
  <div class="card">
    <h3>Average Mood</h3>
    <p>{{avgMood}}</p>
  </div>
</div>

<h2>Entries</h2>

{{#each entries}}
  <div class="card">
    <p>Mood: {{mood}}</p>
    <p>Sleep: {{sleepHours}}</p>
    <p>Stress: {{stress}}</p>
    <p>Wellbeing Score: {{wellbeingScore}}</p>
  </div>
{{/each}}